# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [4]:
CREATE TABLE JunkDB_KC.Adeola.planned_makes (
    Names VARCHAR(50),
    Courses VARCHAR(50),
    Grades INT,
    Year VARCHAR(50)
);

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'planned_makes' in the database.

Add three rows to your table that are your planned makes.

In [9]:
INSERT INTO JunkDB_KC.Adeola.planned_makes(Names, Courses, Grades, Year)
VALUES  ('Jeniffer', 'Physics', 95, '2nd'),
        ('Alex', 'Biology', 85, '1st'),
        ('Ashley', 'Chemistry', 90, '3rd');

Names,Courses,Grades,Year
Jeniffer,Physics,95,2nd
Jeniffer,Physics,95,2nd
Alex,Biology,85,1st
Ashley,Chemistry,90,3rd
Jeniffer,Physics,95,2nd
Alex,Biology,85,1st
Ashley,Chemistry,90,3rd
Jeniffer,Physics,95,2nd
Alex,Biology,85,1st
Ashley,Chemistry,90,3rd

Change column data type

In [15]:
ALTER TABLE JunkDB_KC.Adeola.planned_makes
  ALTER COLUMN Grades VARCHAR(3) NOT NULL;
  
  SELECT *
  FROM JunkDB_KC.Adeola.planned_makes;

Names,Courses,Grades,Year
Jeniffer,Physics,95,2nd
Jeniffer,Physics,95,2nd
Alex,Biology,85,1st
Ashley,Chemistry,90,3rd
Jeniffer,Physics,95,2nd
Alex,Biology,85,1st
Ashley,Chemistry,90,3rd
Jeniffer,Physics,95,2nd
Alex,Biology,85,1st
Ashley,Chemistry,90,3rd

## Update a Row

Change different values in one of your three rows.

In [22]:
UPDATE JunkDB_KC.Adeola.planned_makes
SET Grades = 'A'
WHERE Names = 'Jeniffer' AND  Names =  'Ashley';

UPDATE JunkDB_KC.Adeola.planned_makes
SET Grades = 'A'
WHERE  Names =  'Ashley';

UPDATE JunkDB_KC.Adeola.planned_makes
SET Grades = 'B'
WHERE Names = 'Alex';

SELECT * 
FROM JunkDB_KC.Adeola.planned_makes

Names,Courses,Grades,Year
Jeniffer,Physics,A,2nd
Jeniffer,Physics,A,2nd
Alex,Biology,B,1st
Ashley,Chemistry,A,3rd
Jeniffer,Physics,A,2nd
Alex,Biology,B,1st
Ashley,Chemistry,A,3rd
Jeniffer,Physics,A,2nd
Alex,Biology,B,1st
Ashley,Chemistry,A,3rd

## Delete a Row

Delete one of the rows from your table.

In [27]:
DELETE JunkDB_KC.Adeola.planned_makes
WHERE Names = 'Jeniffer';

SELECT * 
FROM JunkDB_KC.Adeola.planned_makes;

Names,Courses,Grades,Year
Alex,Biology,B,1st
Ashley,Chemistry,A,3rd
Alex,Biology,B,1st
Ashley,Chemistry,A,3rd
Alex,Biology,B,1st
Ashley,Chemistry,A,3rd

## Drop the Table

While this has been fun, it is time to drop the table!

In [31]:
DROP TABLE JunkDB_KC.Adeola.planned_makes;

: Msg 3701, Level 11, State 5, Line 1
Cannot drop the table 'JunkDB_KC.Adeola.planned_makes', because it does not exist or you do not have permission.